# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
.venv/
pip-wheel-metadata/
.eggs/
*.egg-info/
*.egg

# Node.js
node_modules/
dist/
build/
.npm/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# IDEs and Editors
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Internal Documentation
docs/

# Docker
docker-compose.override.yml

# Log files
*.log

# Environment variables
.env
.env.*
!.env.example

tasks/
dev/
backend/alembic.env
