fastapi
uvicorn[standard]
sqlalchemy[asyncio]
asyncpg
pydantic[email]
pydantic-settings
alembic
passlib
python-jose[cryptography]
python-multipart
minio


ruff
pytest
pytest-asyncio
httpx
mypy
types-passlib
types-python-jose
